
h1 {
	font-family: 'Paytone One', sans-serif;

}


li {
	list-style: none;
	font-family: 'Nobile', sans-serif;

}

.messageContainer {
	
}

.messageForm {
  
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;
}

.messageInput {

}

.sendButton {
	position: absolute;

}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150%;
    height: 120%;

}


.dropdown {
	position: relative;
    display: inline-block;
    margin-left: 85%;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}






